/* Reset default margins and padding */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    height: 100%;
    width: 100%;
    background: black; /* Background color */
}

canvas {
    display: block; /* Remove padding/margin */
}
