html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('https://stock.adobe.com/images/3d-dark-city-of-cyberspace-metaverse-digital-land
